.keys > div {
  height: 50px;
  background-color: darkgray;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 5px;
  user-select: none;
}
.keys > div:hover {
  box-shadow: 0 0 2px 1px black;
  cursor: pointer;
  outline: none;
}
